@import "tailwindcss";

@theme {
  --color-cream: #F9FAFB;
  --color-charcoal: #1F2937;
  --color-karcher: #F3C300;
}

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAFB;
    --foreground: #1F2937;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}