@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F9FAFB !important; /* bg-cream forcé */
    color: #1F2937 !important; /* text-gray-800 forcé */
  }
}

/* Force la suppression des règles dark mode par défaut de Tailwind */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #F9FAFB !important;
    color: #1F2937 !important;
  }
}